.corousel_item{
  width: 100%;
  height: 100vh;
  display: inline-flex
}
.carousel_div{
  /* display: flex;
  height: 100vh;
  background-color: aqua; */
  overflow: hidden;
}
.item_div{
  white-space: nowrap;
  transition: 0.2s;
}