.appmain_div{
    display: flex;
    flex-direction: row;
   
}
.header_view_div{
    width: 25%;
    background-color:black;
    position: fixed;
    min-height: 100vh;
}
.route_div{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 75%;
    margin-left: 25%;
    background-color:rgb(24, 24, 24);
    
}
.footer_view{
    background-color:rgb(24, 24, 24) ;
}