body{
    padding: 0%;
    margin: 0%;
}
.h1_view{
    color:#fff;
    margin-top: 5px;

}
.span_view{
    color:rgba(255, 255, 255, 0.308);
    font-family:'Times New Roman', Times, serif;
    font-size:medium;
}