body{
    padding: 0%;
    margin: 0%;
}
.h1_view{
    color:#fff;
    margin-top: 5px;
    font-family:'Courier New', Courier, monospace;
    
}
.h1_view:hover.text{
    opacity: 1;
}
.span_view{
    color:rgba(255, 255, 255, 0.308);
    font-family:cursive;
    font-size:medium;
}